#for_nav{
  background-repeat: no-repeat;
  width: 87rem;
  height: 7rem;
}

#first{
  color: white;
  width: 215vh;
  position: relative;
}

#first img{
  width: 100%;
  position: relative;
}

#second{
  background: #f7b617;
  width: 215vh;
  height: 200vh;
}


#third{
  background-image: url("imagenes/conduce.jpg");
  width: 87rem;
  height: 70rem;
  background-size: cover;
  background-repeat: no-repeat;  
}


#fourth{
  background: #f7b617;
  width: 87rem;
  height: 70rem;
}

#fifth{
  background: #2b2b2b;
  width: 87rem;
  height: 70rem;
}

#start_to_travel{
  background-color: #f7b617;
  position: absolute;
  width: 80%;
  height: 39%;
  top: 30%;  
  right: 0%;
}

#new_app{
  background-color: blue;
  width: 190vh;
  height: 170vh;
}