#for_nav{
  background-repeat: no-repeat;
  width: 100%;
  height: 7rem;
}

header{
  width: 100%;
  height: 30vh;
  background-color: white;
}

header label{
  display: none;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  padding: 10px;
}

header label:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.3);
}

label img{
  width: 30px;
  height: 30px;
}

#logo{
  width: 35vh;
  float: left;
  padding: 3%;
}

.menu ul{
  margin: 0%;
  list-style: none;
  padding: 3%;
  display: flex;
  justify-content: flex-end;
}

.menu li a{
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
}

.menu li:hover{
  background-color: rgb(0,0,0,0.3);
}

#btn-menu{
  display: none;
}

#first{
  color: white;
  width: 100%;
  position: relative;
}

#first img{
  width: 100%;
  position: relative;
}

#taxi{
  width: 100%;
  padding: 0%;
}

/* este es para web
  #second{
  background: #f7b617;
  width: 100%;
  height: 110vh;
} */
p{
  margin: 0%;
  padding: 0%;
}

#third{
  color: white;
  width: 100%;
  position: relative;
  height: 83vh; 
}

#third img{
  width: 100%;
  position: relative;
}


#fourth{
  background: #f7b617;
  color: white;
  width: 100%;
  height: 60rem;
}

#destination,
#initial_location{
  background-color: transparent;
  color: white;
  width: 50%;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid white;
}

#map{
  width: 70%;
  height: 45vh;
  border: 1px solid white;
  margin: 0% auto;
}

#map_google{
  width: 95%;
  height: 40vh;
  margin: 2%;
}

::-webkit-input-placeholder{
  color: white;
}

#trace_route{
  background-color: #fff;
  width: 20%;
  padding: 2%;
  margin-left: 35%;
}

#rates{
  margin-top: 20%;
  margin-left: 7%;
}

#fifth{
  background: #2b2b2b;
  width: 100%;
  height: 70rem;
}

#start_to_travel{
  background-color: #f7b617;
  position: absolute;
  width: 80%;
  height: 39%;
  top: 30%;  
  right: 0%;
}

/* esto es para web
  #new_app{
  background-color: blue;
  position: relative;
  width: 80%;
  height: 75%;
  margin: 0 auto;
  padding-top: 4.5%;
  top: 12%;  
} */

#drive_when_you_want_transparent{
  background-color: transparent;
  color: white;
  position: absolute;
  width: 100%;
  height: 39%;
  top: 30%;  
}



input{
  top: 0%;
  padding: 0%;
}

button{
  top: 0%;
  padding: 0%;
}




@media (max-width: 768px){
  header label{
    display: block;
  }

  .menu{
    position: absolute;
    width: 30%;
    margin-left: -30%;
    transition: all 0.5s;
  }

  .menu ul{
    flex-direction: column;
  }

  #btn-menu:checked ~ .menu {
    margin: 0%;
  }

  #logo{
    float: right;
  }

  #second{
    background: #f7b617;
    width: 100%;
    height: 110vh;
  }  

  #new_app{
    background-color: #f7b617;
    position: relative;
    width: 95%;
    height: 80%;
    margin: 0 auto;
    padding-top: 4.5%;
    top: 7%; 
    border: 1px solid white;
  }

  #cel{
    width: 50%;
  }

  #p_drive_when_you_want{
    height: 30%;
    margin-left: 10%;
  }

  #become_drive{
    background-color: #f7b617;
    color: white;
    margin-left: 10%;
    width: 40%;
    padding: 3%;
    border-radius: 10px;
  }

}

/* INICIA RESPONSIVE*/

*{
  /* border box le dice a un elemento que todas las propiedades de un elemento, como su padding, va a estar dentro del porcentaje que le asignes, sin border box, toma el padding hacia afuera, por ejemplo. */
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
} 

.container{
  width: 100%;
  margin: 0px auto;
}

.row:before, .row:after{ 
  /* Para que no me deje bordes entre una linea y otra linea */
   content:"";
  display:table;
} 
.row:after{
  clear:both;
} 
/* A todas las clases que contengan col- le vas a aplicar estos estilos */
 [class*= "col-" ]{
  float: left;
  min-height: 10px;
  padding: 12px;
} 

  
  .col-1{width: 8.333333333333332%;}
  .col-2{width: 16.666666666666664%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33333333333333%;}
  .col-5{width: 41.66666666666667%;}
  .col-6{width: 50%;}
  .col-7{width: 58.333333333333336%;}
  .col-8{width: 66.66666666666666%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33333333333334%;}
  .col-11{width: 91.66666666666666%;}
  .col-12{width: 100%;}

   

   .row{
    margin: auto;
    width: 100%;
    height: auto;
  } 

   .row:before, .row:after{
    content:"";
    display:table;
  }

  .row:after{
    clear:both;
  } 

   [class*= "col-" ]{
    float: left;
    min-height: 10px;
    padding: 12px;
  } 

   @media screen and (max-width: 768px){
   
    .color {
      width: 100%;
    }
  } 

   @media screen and (max-width: 320px){
   
    .color {
      width: 100%;
    }
  } 

   @media screen and (max-width: 375px){
   
    .color {
      width: 100%;
    }
  }

   @media screen and (max-width: 425px){
   
    .color {
      width: 100%;
    }
  } 

  
/* TERMINA RESPONSIVE */

